html {
	border-radius: 5px 5px 0px 0px;
}

body {
	background: #FFFFFF;
	overflow: hidden;
	margin: 0px;
	width: 10000px; 
	height: 10000px;
	user-select: none;
}

#core {
	margin: 0px;
	background-color: #3d3937;
	border-radius: 5px 5px 0px 0px;
	float: left;
}

#inactive_modules {
	visibility: hidden;
}

.bar {
	display: inline-block;
}

.status {
	display: inline-block;
	vertical-align: bottom;
	color: #d0d0d0;
}

.workspace_wrapper, .workspace_wrapper_num, .workspace_wrapper_icons {
	display: inline-block;
}

.workspace_wrapper_num {
	color: #d0d0d0;
	font-family: Roboto, sans-serif;
	vertical-align: bottom;
	margin: 0px 0px 34px 20px;
}

.workspace_wrapper:first-child > .workspace_wrapper_num {
	margin-left: 10px;
}

#icon_wrapper {
	float: right;
	margin: 0px 10px 4px 10px;
	width: 230px;
}

img {
	display: inline-block;
    width: 48px;
    height: 48px;
}

.icon {
	display: inline-block;
	position: relative;
}

.icon_focused {
}

.icon_wrapper {
	cursor: pointer;
	vertical-align: top;
	line-height: 0;
	padding: 8px 8px 8px 0px;
	display: inline-block;
	position: relative;
}

.icon_wrapper:hover {
	padding-top: 6px;
	padding-bottom: 10px;
}

.icon_wrapper_focused {

}

.icon_wrapper_focused:before {
	content: "";
	width: 8px; 
	height: 8px; 
	border-radius: 4px;
	display: inline-block;
	background-color: #06996d;
	position: absolute;
	left: 20px;
	bottom: -3px;
	z-index: 10;
}

.info_container, .info_icon, .info_label, .info_slider {
	display: inline-block;
	float: right;
}

.info_icon {
	line-height: initial;
	margin-left: 4px;
}

.info_hidden {
	display: none;
}

.info_optional {
	display: none;
}

.info_container {
	line-height: initial;
	margin-left: 4px;
	color: #3d3937;
	background-color: #d0d0d0;
	border-radius: 9px;
	padding: 0px 4px 0px 4px;
}

/*.info_container > .info_container {
	padding: 0px;
	margin-left: 0px;
}*/

.info_label {
	font-family: Roboto, sans-serif;
	display: inline-block;
	font-size: 13px;
	margin-top: -1px;
	margin-left: 4px;
	vertical-align: top;
	text-align: right;
}

.info_container > div:first-child {
	margin-right: 4px;
}

.mdi {
	font-size: 16px;
	cursor: pointer;
}

.info_slider {

}

.slider {
    -webkit-appearance: none;
    width: 80px;
    height: 18px;
    background-color: transparent;
    outline: none;
    vertical-align: top;
    margin: 0px;
}

.info_slider:before {
    content: '';
    border-top: 2px solid #3d3937;
    left: 0px;
    width: 74px;
    display: inline-block;
    vertical-align: middle;
    z-index: -1;
    margin-left: 4px;
    margin-right: -80px; /*terrible hack*/
    margin-top: -2px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3d3937;
    cursor: pointer;
}

#power_container_restart_confirm, #power_container_shutdown_confirm {
	cursor: pointer;
}

#datetime_wrapper {
	font-family: Roboto, sans-serif;
	float: right;
	margin: 5px 10px 0px 10px;
}

#datetime_wrapper * {
	display: inline-block;
	font-weight: 400;
}

#datetime_date {
	font-size: 15px;
}

#datetime_time {
	min-width: 92px; /*avoid width change every second*/
}

#datetime_time_hm {
	font-size: 28px;
}

#datetime_time_s {
	margin-left: -3px;
	font-size: 15px;
}

#snake {
	margin: 10px;
	background-color: #d0d0d0;
	width: 300px;
	height: 150px;
}
